/* ---------------------- Variables -------------------- */
:root {
    /* Font Style */
    --font-family: "Tinos", serif;
    --font-weight: 400;
    --font-size: 18px;

    /* Colors */
    --bodyCol: #EEEFF1;

    --stybg: #424242;;
    --styfg: white;

    --accHead: #c4c4c4;
    --accLink: #0071bd;

    --leftbg: #EEEFF1;
    --leftfg: #424242;

    --rightbg: #EEEFF1;
    --rightfg: #424242;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* ------------------ Body ------------------ */
body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--bodyCol);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    text-align: justify;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* ----------------- Header ---------------- */
.header {
    height: 10vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--styfg);
    background-color: var(--stybg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

/* ----------------- Nav ----------------- */
.navmenu {
    margin: 0;

}
.navmenu a {
    text-decoration: none;
}
.navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.15em;
}
.navmenu ul>li {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.navmenu a,
.navmenu a:focus {
    color: var(--styfg);
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
}
.navmenu li:hover>a{
    color: var(--stybg);
    border-radius: 5px;
    background-color: var(--styfg);
    transition: color 0.3s ease;
}
.navmenu .active,
.navmenu .active:focus {
    color: var(--stybg);
    border-radius: 5px;
    background-color: var(--styfg);
    border: solid 0.1em var(--accHead);
}
/* ------------------ Content ------------------ */
.content {
    width: 100%;
    position: fixed;
    top: 10vh;
    left: 0vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ------------------ Right ------------------- */
.right {
    height: 90vh;
    color: var(--rightfg);
    width: 75%;
    margin-left: 25%;
    position: relative;
    background-color: var(--rightbg);
    padding-bottom: 10vh;
    overflow-y: auto;
}
/* ------------------- Left ------------------ */
.left {
    width: 25%;
    background-color: var(--leftbg);
    position: fixed;
    padding-bottom: 2vh;
}
.person{
    width: 100%;
}
/* Pic */
.profilePic {
    height: 14em;
    width: 15em;
    margin: auto;
    display: block;
    border: solid 0.1em var(--leftfg);
    border-radius: 50%;
    margin-top: 12vh;
    margin-bottom: 1em;
}
/* Bio */
.bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    color: var(--leftfg);
}
.bio .name{
    font-size: 2.0rem;
    font-weight: bold;
}
.label{
    font-size: 1.23rem;
}
.about-text{
    font-size: 1.13rem;
}
.edu li, .bio, .work li, .edu p{
    font-size: 0.93rem;
}
.edu h2, .work h2 {
    font-size: 1.43rem;
}
.edu h3, .work h3{
    font-size: 1.13rem;
}
.heading {
    font-weight: bold;
}
/* Contact */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1em;
    margin-bottom: 0.5em;
    color: var(--leftfg);
}
.contact .item{
    padding: 0.2em;
}
.contact a{
    color: var(--leftfg);
}
.contact i{
    color: var(--leftfg);
}
.contact a:hover{
    color: var(--accLink);
}
.Social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0.5em;
}
.Social .item{
    font-size: 1.15em;
    padding: 0.75em;
}
.Social i {
    color: var(--leftfg);
    transition: color 0.3s ease;
  }
  
.Social i:hover {
    color: var(--styfg);
  }
.cv-head{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: var(--stybg);
    border: solid 0.1em var(--accHead);
}
.cv-head a{
    color: var(--styfg);
}

.cv-head:hover {
    background-color: var(--styfg);
    cursor: pointer;
}
.cv-head:hover a{
    color: var(--stybg);
}
.certificate-head{
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: var(--stybg);
    border: solid 0.1em var(--accHead);
}
.certificate-head a{
    color: var(--styfg);
}

.certificate-head:hover {
    background-color: var(--styfg);
    cursor: pointer;
}
.certificate-head:hover a{
    color: var(--stybg);
}
/* ----------------- Headings --------------- */
h1{
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: 0.125em;
    margin-top: 1.225em;
    margin-bottom: 0.2em;
}
h2{
    font-weight: normal;
    letter-spacing: normal;
    font-size: 1.05em;
    margin-top: 1em;
    margin-bottom: 0.05em;
}
h4{
    font-weight: normal;
    letter-spacing: normal;
    font-size: 0.95em;
    margin-top: 0.05em;
    margin-bottom: 0.05em;
}
h5{
    font-weight: normal;
    letter-spacing: normal;
    color: gray;
    margin-top: 0.05em;
    margin-bottom: 0.05em;
}
p {
    font-weight: normal;
    letter-spacing: normal;
    font-size: 0.95em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
/* -------------- Right Section ------------- */
.about{
    margin-left: 7.5%;
    margin-right:7.5%;
    margin-top: 22.5vh;
    }
.work{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 10vh;
    }
.edu{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 17.5vh;
    }
.skill{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 12.5vh;
}
.skill-set{
    padding-left: 0;
}
.skill-set li{
    background: var(--stybg);
    color: var(--styfg);
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    margin: 1em 1em 0 0;
    padding: 5px;
    text-align: justify;
    font-size: 1em;
    letter-spacing: 0.03em;
}
.pub{
    margin-left: 7.5%;
    margin-right: 7.5%;
}

/* ------------------ Media ------------------ */
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ----------------- Screen ---------------- */
@media screen and (max-width: 1024px) {
    body {
        font-size: 12px;
    }
    .content{
        width: 100%;
        height:90vh;
        position: fixed;
        top: 10vh;
        left: 0vh;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .navmenu {
        padding: 0em;
    }
    .navmenu ul>li {
        padding-right: 0em;
        padding-left: 0em;
    }
    .left {
        margin: 0;
        position: relative !important;
        width: 100%;
    }
    .right {
        margin: 0;
        position: relative !important;
        width: 100%;
        min-height: 90vh;
        padding-bottom: 20vh;
    }
    p{font-size: 1em;}
    .about{margin-top: 0;}
    .work{margin-top: 0;}
    .edu{margin-top: 0;}
    .pub{margin-top: 0;}
    .skill{margin-top: 0;}
    .skill-set li{
        border-radius: 5px;
        display: inline-block;
        list-style: none;
        margin: 0.5em 0.5em 0 0;
        padding: 0.75em;
        text-align: justify;
        font-size: 1em;
        letter-spacing: normal;
    }
}